# Model Configuration
MODEL_PATH=assets/models/yolov8n_float32.tflite
LABELS_PATH=assets/labels/coco_labels.txt
INPUT_SIZE=320
CONFIDENCE_THRESHOLD=0.1
IOU_THRESHOLD=0.45

# Database
# ganti URLnya dengan milik Anda
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/paletta?appName=<appName>
MONGO_DB=paletta
MONGO_COLLECTION=palettes

# PCD Configuration
K_VALUE=5

# App Configuration
MAX_SAVED_PALETTES=100