# Model Configuration
MODEL_PATH=assets/models/yolov8n.tflite
LABELS_PATH=assets/labels/coco_labels.txt
INPUT_SIZE=640
CONFIDENCE_THRESHOLD=0.5
IOU_THRESHOLD=0.45

# PCD Configuration
K_VALUE=5

# App Configuration
MAX_SAVED_PALETTES=100